<%= form_for @broadcast do |f| %>

	<%= f.label :topic %>
  <p>
	<%= f.text_field :topic, autofocus: true%>
  </p>
	<%= f.label :datetime %>
  <div id="date-time">
	<%= f.datetime_select :datetime, order: [:day, :month, :year] %>
  </div>
	<%= f.label :duration %>
  <p>
	<%= f.text_field :duration %>
  </p>
	<%= f.submit :submit %>


<% end %>

