<div class="broadcast-show-page">

<h1 id="broadcast-show-header" ><%= @broadcast.topic %></h1>

<h3 id="broadcast-time-header"><%= @broadcast.readable_time %></h3>
<p>
<% if @broadcast.speaker == current_user %>
  <%= link_to "Change Broadcast Details", edit_broadcast_path(@broadcast) %>
   |
  <%= link_to "Cancel This Broadcast", broadcast_path(@broadcast), method: :delete %>
    <p>
    <%= image_tag("mic.png")%>
    </p>
<% else %>
  <p>
     <%= render 'reminder_settings/form', locals: {reminder_setting: @reminder_setting}  %>
    <div id="reminder_signup">
      <p>
    <% if current_user.saved_broadcasts.include?(@broadcast) %>
      <button id="save-button">Save</button>
    <% else %>
      <button id="save-button">Save</button>
      </p>
    </div>
        <%= image_tag("listen.png")%>
      </p>
    <% end %>
    <% end %>

</p>




<div id="audio-container"></div>
<p>
</p>
<button id="open-or-join" data-room="room<%=@broadcast.id%>"> </button>



</div>
