<h1 id="broadcast-show-header" ><%= @broadcast.topic %></h1>
<h3><%= @broadcast.datetime %></h3>

<% if @broadcast.speaker == current_user %>
  <%= render 'megaphone' %>
<% else %>
  <%= render 'headphones' %>
<% end %>

<button id="open-or-join" data-room="room<%=@broadcast.id%>">Open or join</button>
<div id ="broadcast-id"><%=@broadcast.id%></div>
